/* Universal */

html, body {
    width: 100%;
    margin: 0;
}

body {
    background-color: var(--light-neutral);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black-ish);
}

a:hover,
button:hover {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration-line: none;
    font-weight: 700;
}

a:hover {
    text-decoration-line: underline;
}

.headerbar-link,
.footernav-link {
    text-transform: uppercase;
}

.section {
    width: 100%;
    display: flex;
    padding: 0rem 1rem;
}

nav {
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 3.5rem;
    height: auto;
}

/** Colors **/

:root {
    --light-neutral: #F4F2EF;
    --medium-neutral: #D8D1BD;
    --dark-pop: #CD4662;
    --light-pop: #E68C3A;
    --black-ish: #171717;
}

/* Header */

.header {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-splash {
    width: 100%;
    display: flex;
    align-items: center;
}

.splash-title,
.splashvisual-container {
    width: 50%;
}

.splash-title h1 {
    font-size: 4.5rem;
    text-align: center;
    font-family: 'Rock Salt', Georgia, 'Times New Roman', Times, serif;
    color: var(--black-ish);
    text-shadow: 4px 4px 0 var(--dark-pop);
}

.splash-image {
    height: auto;
    margin: 0 auto;
    border-radius: 52% 48% 85% 15% / 58% 74% 26% 42%; 
}

/* About Section */

.about-text,
.aboutvisual-container {
    width: 50%;
}

/* Process Section */

.process-section {
    flex-direction: column;
    align-items: center;
}

.timeline-container {
    display: flex;
    justify-content: space-around;
}

/* Testimonial Section */

.testimonial-section {
    flex-direction: column;
    align-items: center;
    background-color: var(--medium-neutral);
}

.quotes-container {
    display: flex;
    justify-content: space-around;
}

.client-quote {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-avatar {
    display: flex;
    justify-content: center;
}

.client-name,
.quote-body {
    text-align: center;
}

/* CTA Section */

.cta-section {
    background-color: var(--light-pop);
}

.cta-text,
.cta-container {
    width: 50%;
}

.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Footer */

.footer {
    flex-direction: column;
}

.footer-footer {
    display: flex;
}

/* Media Queries */
