/* Universal */

html, body {
    width: 100%;
    margin: 0;
}

body {
    background-color: var(--light-neutral);
    font-family: 'Noto Sans', Verdana, Tahoma, sans-serif;
    color: var(--black-ish);
}

a:hover,
button:hover {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration-line: none;
    font-weight: 700;
}

a:hover {
    text-decoration-line: underline;
}

.headerbar-link,
.footernav-link {
    text-transform: uppercase;
}

.section {
    width: 100%;
    display: flex;
}

.header-bar,
.footer {
    padding: 0.5rem 3rem;
}

.about-text,
.process-section,
.testimonial-section,
.cta-section {
    padding: 3rem;
}

nav {
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 3.5rem;
    height: auto;
}

/** Colors **/

:root {
    --light-neutral: #F4F2EF;
    --medium-neutral: #D8D1BD;
    --dark-pop: #CD4662;
    --light-pop: #E68C3A;
    --black-ish: #272727;
}

/* Header */

.header {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-splash {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.splash-title,
.splashvisual-container {
    width: 50%;
}

.title-image,
.splash-image {
    margin: 0 auto;
}

.title-image {
    width: 50%;
    height: auto;
}

.splash-image {
    width: 70%;
    border-radius: 52% 48% 85% 15% / 58% 74% 26% 42%; 
}

/* About Section */

.about-section {
    align-items: center;
    margin-top: 1rem;
    background-image: url(../images/blob-01-320.png);
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 20rem;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
    min-height: fit-content;
    background-color: var(--medium-neutral);
    padding: 2rem;
    box-shadow: 6px 6px 0px var(--dark-pop);
    font-size: 1.10rem;
}

.about-content h2 {
    color: var(--dark-pop);
}

.about-content p,
.about-button {
    margin-top: 1rem;
}

.about-button {
    margin: 1rem auto 0 auto;
    width: 60%;
    padding: 1rem 2rem;
    background-color: var(--black-ish);
    color: var(--light-neutral);
    font-weight: 700;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 0 var(--dark-pop);
}

.about-button:active {
    background-color: var(--dark-pop);
    box-shadow: 3px 3px 0 var(--black-ish);
    transform: translateX(3px) translateY(3px);
}

.about-button:hover {
    background-color: var(--dark-pop);
    box-shadow: 3px 3px 0 var(--black-ish);
}

/* Testimonial Section */

.testimonial-section {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    background-image: url(../images/blob-02-320.png);
    background-repeat: no-repeat;
    background-position: right;   background-size: auto;
}

.testimonial-section h2 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quotes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
}

.client-quote {
    max-width: 22rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--medium-neutral);
    box-shadow: 6px 6px 0px var(--dark-pop);
}

.quote-avatar {
    display: flex;
    align-items: center;
}

.client-image {
    width: 3rem;
    border-radius: 50%;
    margin: 0 0.5rem 0.5rem 0;
}

.quote-body {
    font-size: 0.92rem;
}

/* Process Section */

.process-section {
    height: 20rem;
    flex-direction: column;
    align-items: center;
}

.process-section h2 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.timeline-container {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}

.timeline-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline-image {
    width: 60%;
}

.timeline-text {
    text-align: center;
}

/* CTA Section */

.cta-section {
    background-color: var(--light-pop);
}

.cta-text,
.cta-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta-button {
    background-color: var(--black-ish);
    color: var(--light-neutral);
    width: 30%;
    padding: 1rem 2rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 0 var(--dark-pop);
}

.cta-button:active {
    background-color: var(--dark-pop);
    box-shadow: 3px 3px 0 var(--black-ish);
    transform: translateX(3px) translateY(3px);
}

.cta-button:hover {
    background-color: var(--dark-pop);
    box-shadow: 3px 3px 0 var(--black-ish);
}

/* Footer */

.footer {
    flex-direction: column;
    align-items: center;
}

.footer-logo,
.footer-nav {
    margin-bottom: 0.5rem;
}

.footer-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    opacity: 75%;
}

.attribution {
    margin: 0.5rem;
}

/* Media Queries */
