/* Universal */

html, body {
    width: 100%;
    margin: 0;
}

body {
    background-color: var(--light-neutral);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: var(--black-ish);
}

a:hover,
button:hover {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration-line: none;
    font-weight: 700;
}

a:hover {
    text-decoration-line: underline;
}

.headerbar-link,
.footernav-link {
    text-transform: uppercase;
}

.section {
    width: 100%;
    display: flex;
}

.header-bar,
.footer {
    padding: 0.5rem 2rem;
}

.about-text,
.process-section,
.testimonial-section,
.cta-section {
    padding: 2rem;
}

nav {
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 3.5rem;
    height: auto;
}

/** Colors **/

:root {
    --light-neutral: #F4F2EF;
    --medium-neutral: #D8D1BD;
    --dark-pop: #CD4662;
    --light-pop: #E68C3A;
    --black-ish: #171717;
}

/* Header */

.header {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-splash {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.splash-title,
.splashvisual-container {
    width: 50%;
}

.title-image,
.splash-image {
    margin: 0 auto;
}

.title-image {
    width: 50%;
    height: auto;
}
/*
.splash-title h1 {
    font-size: 4.5rem;
    text-align: center;
    font-family: 'Rock Salt', Georgia, 'Times New Roman', Times, serif;
    color: var(--black-ish);
    text-shadow: 4px 4px 0 var(--dark-pop);
}*/

.splash-image {
    width: 70%;
    border-radius: 52% 48% 85% 15% / 58% 74% 26% 42%; 
}



/* About Section */

.about-section {
    background-image: url(../images/blob-01-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.about-text,
.aboutvisual-container {
    min-height: 20rem;
    width: 50%;
}

.about-image {
    display: none;
    width: 60%;
    margin: 0 auto;
}

/* Process Section */

.process-section {
    flex-direction: column;
    align-items: center;
}

.timeline-container {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}

.timeline-image {
    margin: 0 auto;
    width: 10%;
}

/* Testimonial Section */

.testimonial-section {
    flex-direction: column;
    align-items: center;
    background-image: url(../images/blob-02-desktop.png);
    background-repeat: no-repeat;
    background-position: right;   background-size: contain;
    margin-bottom: 2rem;
}

.testimonial-section h3 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quotes-container {
    display: flex;
    justify-content: space-around;
    max-width: 80%;
}

.client-quote {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.quote-avatar {
    display: flex;
    justify-content: center;
}

.client-image {
    width: 3rem;
    border-radius: 50%;
}

.client-image,
.client-name,
.quote-body {
    margin-top: 1rem;
}

.client-name,
.quote-body {
    text-align: center;
}

/* CTA Section */

.cta-section {
    background-color: var(--light-pop);
}

.cta-text,
.cta-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cta-button {
    background-color: var(--black-ish);
    color: var(--light-neutral);
    width: 30%;
    padding: 1rem 2rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 0 var(--dark-pop);
}

.cta-button:active {
    background-color: var(--dark-pop);
    box-shadow: 3px 3px 0 var(--black-ish);
    transform: translateX(3px) translateY(3px);
}

.cta-button:hover {
    background-color: var(--dark-pop);
    box-shadow: 3px 3px 0 var(--black-ish);
}

/* Footer */

.footer {
    flex-direction: column;
    align-items: center;
}

.footer-logo,
.footer-nav {
    margin-bottom: 0.5rem;
}

.footer-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    opacity: 75%;
}

.attribution {
    margin: 0.5rem;
}

/* Media Queries */
